# 虚拟环境
anki_env/
venv/
env/
*.venv
*.virtualenv

# Python
__pycache__/
*.py[cod]
*.so

# Anki
*.anki2
*.anki21

# 配置文件（可能包含敏感信息）
config.json

# 日志文件
*.log

# 操作系统生成的文件
.DS_Store
Thumbs.db

# 编辑器/IDE 生成的文件
.vscode/
.idea/
*.swp
*.swo

# 打包生成的文件和目录
build/
dist/
*.egg-info/

# 其他
*.bak
*.tmp